@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montagu+Slab:wght@200;300;400&family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montagu Slab', serif;
    background-color: rgb(165, 132, 42);
    ;
}

.title {
    text-align: center;
    color: rgb(204, 139, 0);
    background-color: rgb(2, 0, 131);
    border-radius: 0.5em;
    margin: 0;
}

.board {
    background-color: rgb(165, 132, 42);
}

.cards {
    height: 92vh;
}

.card {
    border: 1px solid #000000;
    background: url("https://i.pinimg.com/originals/0f/d4/50/0fd450915b4817878bf854b6b7647abd.jpg") no-repeat;
    background-size: cover;
    width: 136px;
    height: 186px;
    /* padding: 100px 80px; */
    cursor: pointer;
    margin: 5px;
}

.card-chosen {
    position: relative;
    bottom: 62px;
    border: 1px solid #000000;
    /* background: url("https://i.pinimg.com/originals/0f/d4/50/0fd450915b4817878bf854b6b7647abd.jpg") no-repeat; */
    background: chocolate;
    background-size: cover;
    width: 136px;
    height: 186px;
    /* padding: 100px 80px; */
    cursor: pointer;
    margin: 5px;
    font-size: 3em;
}